{% extends 'PAdminBundle:layout:ibox.html.twig' %}


{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% form_theme delete_form 'bootstrap_3_layout.html.twig' %}

{% block ibox_title -%}{{ 'edit'|trans({}, 'messages') }}{% endblock %}
{% block ibox_tools -%}
{% if workflow_can(entity, 'reject') %}
    <a class="btn btn-outline btn-info" href="{{ path("article_reject", {id: entity.id}) }}">{{ 'reject'|trans({}, 'messages') }}</a>
{% endif %}

{% if workflow_can(entity, 'publish') %}
    <a class="btn btn-outline btn-info" href="{{ path("article_publish", {id: entity.id}) }}">{{ 'publish'|trans({}, 'messages') }}</a>
{% endif %}
<a class="btn btn-outline btn-info" href="{{ path("article") }}">{{ 'back to list'|trans({}, 'messages') }}</a>
{% endblock %}

{% block ibox_content -%}

{{ form_start(edit_form) }}
<div class="row">
    <div class="col-sm-4">
        {{ form_label(edit_form.category) }}
        {{ form_widget(edit_form.category) }}
    </div>
    <div class="col-sm-4">
        {{ form_label(edit_form.tags) }}
        {{ form_widget(edit_form.tags) }}
    </div>
    <div class="col-sm-4">
        {{ form_label(edit_form.status) }}
        {{ form_widget(edit_form.status) }}
    </div>
</div>
{{ form_end(edit_form) }}


    {{ form(delete_form, {attr: {style:"display: inline-block;", "class": "delete-action"}}) }}

{% endblock %}
