{% block extends %}
{{ "{% extends 'PAdminBundle:layout:ibox.html.twig' %}" }}
{{ "{% trans_default_domain '" ~ bundle ~ "' %}" }}
{{ "{% form_theme form 'bootstrap_3_layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block content -%}" }}

{{ "{% stylesheets filter=\"cssrewrite\"
'@PAdminBundle/Resources/public/css/plugins/dataTables/dataTables.bootstrap.css'
%}
<link rel=\"stylesheet\" type=\"text/css\" href=\"{{ asset(asset_url) }}\" />
{% endstylesheets %}"
}}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox collapsed">
            <div class="ibox-title">
                <h5>{{ "{{ 'query'|trans({}, 'messages') }}" }}</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content" id="abc">
                {{ "{{ form(form) }}" }}
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>{{ "{{ 'list'|trans({}, 'messages') }}" }}</h5>
                <div class="ibox-tools">
                    <a class="btn btn-outline btn-info" href="{{ "{{ path(\"" ~ route_name_prefix ~ "_new\") }}" }}">{{ "{{ 'new'|trans({}, 'messages') }}" }}</a>
                </div>
            </div>
            <div class="ibox-content p-md">
                <div class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                {%- for field, metadata in fields %}

                                    <th>{{ "{{ '" ~ entity|lower ~ "." ~ field ~ "'|trans }}" }}</th>

                                {%- endfor %}

                                    <th>{{ "{{ 'actions'|trans({}, 'messages') }}" }}</th>

                                </tr>
                            </thead>
                            <tbody>
                            {{ '{% for entity in entities %}' }}
                                <tr>

                            {%- for field, metadata in fields %}
                                {%- if loop.first and ('show' in actions) %}

                                    <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity."~ identifier ~" }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

                                {%- elseif metadata.type in ['date', 'datetime'] %}

                                    <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

                                {%- else %}

                                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                                {%- endif %}

                                {%- if loop.last %}

                                    <td>

                                        {%- include "crud/views/others/actions.html.twig.twig" %}

                                    </td>

                                {%- endif %}
                            {%- endfor %}

                                </tr>
                            {{ '{% endfor %}' }}
                            </tbody>
                        </table>
                    </div>
                    {{ "{{ tools|raw }}" }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ "{% endblock %}" }}

{{ "{% block javascripts %}" }}
{{ "{% endblock %}" }}
{% endblock body %}
