{% extends 'PAdminBundle:layout:layout.html.twig' %}

{% block title %} PAdmin {% endblock %}

{% block brand_title %}{{ app.user.username }}{% endblock %}
{% block brand_desc %}brand_desc{% endblock %}
{% block brand_list %}
    <li> <a href="#">个人中心</a> </li>
    {{ parent() }}
{% endblock %}


{% block navbar_right %}
<li> {% block navbar_title %} PAdmin {% endblock %} </li>
<li class="dropdown">
    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
        <i class="fa fa-bell"></i>  <span class="label label-primary">{{ p.get('p.notification').getCount(null, 'notification')}}</span>
    </a>
    <ul class="dropdown-menu dropdown-alerts">
        {% for notification in p.get('p.notification').getMessages(null, 'notification') %}
        <li>
            <a href="{{ path("notification_show", {id: notification.id}) }}">
            <div>
                <i class="fa fa-envelope fa-fw"></i> {{ notification.title}}
                <span class="pull-right text-muted small">{{ notification.message}}</span>
            </div>
        </a>
        </li>
        <li class="divider"></li>
        {% endfor %}
    </ul>
</li>
{{ parent() }}
{% endblock %}

{% block page_heading %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="text-center m-t-lg">
            <h1>
                Welcome in INSPINIA Static SeedProject
            </h1>
            <small>
                It is an application skeleton for a typical web app. You can use it to quickly bootstrap your webapp projects and dev environment for these projects.
            </small>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="pull-right">
    {% block system_info %}
    10GB of <strong>250GB</strong> Free.
    {% endblock %}
</div>
<div>
    {% block copyright %}
    <strong>Copyright</strong> PAdmin Company &copy; 2014-2015
    {% endblock %}
</div>
{% endblock %}

{% block sidebar_tab_count %}3{% endblock %}
{% block sidebar_tab %}
    <li class="active"><a data-toggle="tab" href="#tab-1"> Notes </a></li>
    <li><a data-toggle="tab" href="#tab-2"> Projects </a></li>
    <li class=""><a data-toggle="tab" href="#tab-3"> <i class="fa fa-gear"></i></a></li>
{% endblock %}

{% block sidebar_content %}
<div id="tab-1" class="tab-pane active">
    <div class="sidebar-title">
        <h3> <i class="fa fa-comments-o"></i> Latest Notes</h3>
        <small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>
    </div>
    <div class="sidebar-message">
        <a href="#">
            <div class="pull-left text-center">
                <img alt="image" class="img-circle message-avatar" src="">

                <div class="m-t-xs">
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                </div>
            </div>
            <div class="media-body">

                There are many variations of passages of Lorem Ipsum available.
                <br>
                <small class="text-muted">Today 4:21 pm</small>
            </div>
        </a>
    </div>
</div>
<div id="tab-2" class="tab-pane">
    <div class="sidebar-title">
        <h3> <i class="fa fa-cube"></i> Latest projects</h3>
        <small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>
    </div>
</div>
<div id="tab-3" class="tab-pane">
    <div class="sidebar-title">
        <h3> <i class="fa fa-gears"></i> Settings </h3>
        <small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>
    </div>
</div>
{% endblock %}

