{% extends 'PAdminBundle:layout:ibox.html.twig' %}

{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% form_theme delete_form 'bootstrap_3_layout.html.twig' %}

{% block ibox_title -%}{{ 'edit'|trans({}, 'messages') }}{% endblock %}
{% block ibox_tools -%}
<a class="btn btn-outline btn-info" href="{{ path("group") }}">{{ 'back to list'|trans({}, 'messages') }}</a>
{% endblock %}

{% block ibox_content -%}

    {{ form(edit_form) }}

    {{ form(delete_form, {attr: {style:"display: inline-block;", "class": "delete-action"}}) }}

{% endblock %}
