{% extends 'PAdminBundle:Security:base.html.twig' %}

{% trans_default_domain 'PUserBundle' %}

{% block form_action %}{{ path("fos_user_resetting_send_email") }}{% endblock %}

{% block form_error %}
    {% if error_message is defined %}
    {{ error_message }}
    {% endif %}
{% endblock %}

{% block form_body %}

<div class="form-group">
    <input class="form-control" type="text" id="username" name="username" value="" required="required" placeholder="{{ 'resetting.request.username'|trans }}" />
</div>
<button type="submit" class="btn btn-primary block full-width m-b">{{ 'resetting.request.submit'|trans }}</button>
{% endblock %}

{% block form_body_links %}
<a class="btn btn-sm btn-white btn-block" href="{{ path('fos_user_security_login') }}">{{ 'resetting.back to login'|trans }}</a>
{% endblock %}
