{% extends 'PAdminBundle:security:base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% trans_default_domain "PUserBundle" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}{{ 'registration.register'|trans }}{% endblock %}

{% block form_title %}{{ 'registration.register'|trans }}{% endblock %}

{% block form_action %}{{ path("fos_user_registration_register") }}{% endblock %}

{% block form_error %}
    {{ form_errors(form) }}
{% endblock %}

{% block form_body %}
<div class="form-group">
    {{ form_widget(form.username, {attr: {placeholder: 'user.username'|trans }}) }}
</div>
<div class="form-group">
    {{ form_widget(form.email, {attr: {placeholder: 'user.email'|trans }}) }}
</div>
<div class="form-group">
    {{ form_widget(form.plainPassword.first, {attr: {placeholder: 'user.password'|trans }}) }}
</div>

<div class="form-group">
    {{ form_widget(form.plainPassword.second, {attr: {placeholder: 'user.confirm_password'|trans }}) }}
</div>

{{ form_widget(form._token) }}

    <button type="submit" class="btn btn-primary block full-width m-b">{{ 'registration.submit'|trans }}</button>
    <p class="text-muted text-center"><small>已经有账号?</small></p>
{% endblock %}

{% block form_body_links %}
<a class="btn btn-sm btn-white btn-block" href="{{ path('fos_user_security_login') }}">{{ 'security.login.submit'|trans }}</a>
{% endblock %}
