{% extends 'PAdminBundle:User:base.html.twig' %}
{% trans_default_domain 'PAdminBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite"
'@PAdminBundle/Resources/public/css/plugins/dataTables/dataTables.bootstrap.css'
%}
<link rel="stylesheet" type="text/css" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}


{% block right_content %}

<div class="ibox">
    <div class="ibox-content p-md">
        <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{ 'user.username'|trans }}</th>
                            <th>{{ 'user.email'|trans }}</th>
                            <th>{{ 'user.enabled'|trans }}</th>
                            <th>{{ 'user.lastLogin'|trans }}</th>
                            <th>{{ 'actions'|trans({}, 'messages') }}</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                        <tr>
                            <td>{{ entity.username }}</td>
                            <td>{{ entity.email }}</td>
                            <td>{{ padmin.getParameter('user.status')[entity.enabled] }}</td>
                            <td>{% if entity.lastLogin %}{{ entity.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary btn-xs" href="{{ path('user_show', { 'id': entity.id }) }}">
                                        {{ 'show'|trans({}, 'messages') }}
                                    </a>
                                    <a class="btn btn-primary btn-xs" href="{{ path('user_edit', { 'id': entity.id }) }}">
                                        {{ 'edit'|trans({}, 'messages') }}
                                    </a>
                                </div>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {{ tools|raw }}
        </div>
    </div>
</div>
{% endblock %}
