{% extends 'PAdminBundle:layout:ibox.html.twig' %}
{% trans_default_domain 'PAdminBundle' %}


{% block ibox_title -%} {{ 'edit'|trans({}, 'messages') }}{% endblock %}

{% block ibox_tools -%}
    <a class="btn btn-outline btn-info" href="{{ path("icon") }}">{{ 'back to list'|trans({}, 'messages') }}</a>
{% endblock %}


{% block ibox_content -%}
    <table class="table">
        <tbody>
            <tr>

                <th>{{ 'icon.id'|trans }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>

                <th>{{ 'icon.type'|trans }}</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>

                <th>{{ 'icon.name'|trans }}</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>

        <a class="btn btn-primary" href="{{ path('icon_edit', { 'id': entity.id }) }}"> {{ 'edit'|trans({}, 'messages') }} </a>
{{ form(delete_form, {attr: {style:"display: inline-block;", "class": "delete-action"}}) }}

{% endblock %}

