{% block extends %}
{{ "{% extends 'PAdminBundle:layout:ibox.html.twig' %}" }}
{% endblock extends %}

{% block body %}

{{ "{% form_theme form 'bootstrap_3_layout.html.twig' %}" }}

{{ "{% block ibox_title -%}新建{% endblock %}" }}
{{
"{% block ibox_tools -%}
    <a class=\"btn btn-outline btn-info\" href=\"{{ path(\"" ~ route_name_prefix ~ "\") }}\">返回列表</a>
{% endblock %}"
}}

{{ "{% block ibox_content -%}" }}

    {{ '{{ form(form) }}' }}

    {% set hide_edit, hide_delete = true, false %}


{{ "{% endblock %}" }}

{% endblock %}
